{% block location_widget %}
    <div class="location-container" {{ stimulus_controller('@anotterweb/ux-location/location', {lat: default_lat, lng: default_lng, zoom: default_zoom, selectedZoom: default_selected_zoom, style: map_style, token: access_token}) }}>
        {% set target = stimulus_target('@anotterweb/ux-location/location', 'input') %}
        {% set attr = attr|merge({(target|keys[0]): target|first}) %}
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <div {{ stimulus_target('@anotterweb/ux-location/location', 'map') }} style="height: {{ map_height|e('html_attr') }}; width: 100%; z-index: 1;"></div>
    </div>
{% endblock %}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- ' ' -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}